html,
body {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    background-color: sandybrown;
}
main {
    width: 340px;
    height: inherit;
    background-color: white;
    margin: 0 auto;
    position: relative;
    overflow: auto;
}
ul,
h4 {
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
ul li {
    padding-bottom: 40px;
}
h4 {
    padding-bottom: 30px;
}
ul li span {
    color: #aaa;
    display: block;
    font-style: italic;
}
ul li span:first-child {
    color: #000;
    font-style: normal;
}
svg {
    overflow: visible;
    width: 214px;
    height: 180px;
}
.voice-button {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 70px;
    border: 1px solid #ccc;
    fill: #8a8a8a;
    cursor: pointer;
}
.voice-button svg,
.small-voice-button svg {
    width: auto;
    height: auto;
}
.voice-button.active {
    border: 0;
}
.voice-button.active svg {
    fill: #f00;
}
.voice-button.hidden {
    visibility: hidden;
}
.small-voice-button {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 8px;
    left: 8px;
    z-index: 1;
    padding: 9px;
    fill: white;
    background-color: red;
    border-radius: 20px;
}
.small-voice-button.hidden {
    display: none;
}
.text {
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
.text > div {
    padding-bottom: 10px;
}
.text.hidden {
    display: none;
}
#map {
    height: 100%;
}
#map.hidden {
    display: none;
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.said {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    word-break: break-all;
    text-align: center;
    color: #ccc;
    font-style: italic;
}

.eye {
    position: absolute;
    top: 64px;
    width: 10px;
    height: 10px;
}
:after,
:before {
    box-sizing: border-box;
    outline: none;
    -webkit-font-smoothing: antialiased;
}
.eye::after,
.eye::before {
    content: "";
    position: absolute;
    height: 31px;
    width: 6px;
    background-color: #000;
    top: 0;
    border-radius: 4px;
}
.eye::after {
    transform: rotate(-25deg);
    transition: transform .25s, right .25s;
    right: -3px;
    animation: leftEye ease 1s infinite;
}
.eye::before {
    transform: rotate(25deg);
    transition: transform .25s, left .25s;
    left: -4px;
    animation: rightEye ease 1s infinite;
}
.eye-left {
    left: 68px;
}
.eye-right {
    right: 68px;
}

@keyframes leftEye {

    0% {
        transform: rotate(-25deg);
    }
    50% {
        transform: rotate(-10deg);
        right: 0px;
    }
    100% {
        transform: rotate(-25deg);
    }

}
@keyframes rightEye {

    0% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(10deg);
        left: -1px;
    }
    100% {
        transform: rotate(25deg);
    }

}

.left-line,
.right-line {
    transition: transform .25s;
}

@keyframes leftLine {
    50% {
        transform: translateX(-2px);
    }
}
@keyframes rightLine {
    50% {
        transform: translateX(2px);
    }
}
.left-line {
    animation: leftLine ease 1s infinite;
}
.right-line {
    animation: rightLine ease 1s infinite;
}

@media only screen and (min-width: 280px) and (max-width: 414px) and (orientation: portrait),
screen and (min-width: 653px) and (max-width: 915px) and (orientation: landscape) {
    body {
        background-color: white;
    }
    main {
        width: 100%;
    }
}